

.centered-image {
    object-fit: cover; /* Ensure the image covers the entire container */
}

.text {
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}


#content {
    text-align: center; /* Center the text */
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin: 0 30%; /* Add 20% margin on the left and right */
}

.resume-link-container {
    display:flex;
    justify-content: center; /* Center the anchor horizontally */
    align-items: center; /* Center the anchor vertically */
}

.resume-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #001730; /* Blue color */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}